:root {
    --background: #2b2d31;
    --button: #3b3d41;
    --button-hover:#4b4d51;
}

header {
    text-align: center;
} header a{
    text-decoration: none;
    color: lightblue;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: var(--background);
}

.list {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 12px;
    background-color: gray;
} .list ul {
    list-style: none;
    padding: 0;
    margin: 0;
} .list ul li {
    padding: 5px 0;
    margin: 25px 0;
    justify-content: center;
} .list ul li a {
    background-color: var(--button);
    padding: 10px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
} .list ul li a:hover {
    background-color: var(--button-hover);
}